@charset "UTF-8";
/* CSS Document */

.container {
	width:70%;
	margin: 0 auto;
	position:relative;
}


img {
	width:100%;
	height: auto;
}

.box1 {
	position:absolute;
	right: 50px;
	top: 40px;
	background-color: darkgoldenrod;
	padding: 5px 10px;
}

h2 {
	color:antiquewhite;
	font-size: 28px
}

.box2 {
	position:fixed;
	top: 0px;
	left:30px;
	background-color: coral;
	padding: 5px 10px;
}


h3 {
	color:antiquewhite;
	font-size: 28px;
		margin-bottom: 3px
}

p {
	color:antiquewhite;
	font-size: 20px;
}

.box4 {
  position: sticky;
  top: 5px;
  background-color: darkseagreen;
  padding: 5px 5px;
}

h4 {
	color:antiquewhite;
	font-size: 20px;
	text-align: center
}