@charset "UTF-8";
/* CSS Document */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #f0f0f0;
}

/* Basic Header Layout */
header {
  position: absolute;
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: transparent; 
  top: 0;
}

/* DR */
.logo {
  color: #F7F7F7;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: "Metal Mania", "Impact", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Home Tour Music Shop  */
nav a {
  color: #F7F7F7;
  text-decoration: none;
  margin-left: 25px;
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0.5px 0.5px 3px rgba(63, 63, 63, 1);
  transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
  color: #ff6f61;
  transform: scale(1.05);
}


/* makes the TOUR part that light gray  */
nav a.active:hover { 
	color: #98D0FD; 
}



/* Music Header */
.music-header {
  max-width: 1350px;
  margin: 120px auto 60px;
}

.music-header h1 {
   font-size: 40px;
   margin-bottom: 10px;
   font-weight: 600;
   color: #F7F7F7;
}





/* Music Section */
.music-section {
    padding: 0px 34px 80px;
    max-width: 1350px;
    margin: 0px auto;
}

/* Albums Grid */
.albums-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 49px;
    max-width: 1330px;
}

/* Album Card */
.album-card {
    display: flex;
    flex-direction: column;
}

.album-image-container {
    position: relative;
    margin-bottom: 20px;
}





.album-label {
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 25px;
    background-color: rgba(178,178,178,0.51);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 8px 22px;
    font-size: 13px;
    font-weight: 600;
    z-index: 10;
}



.album-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.2s ease;
}

.album-image:hover {
  filter: brightness(1.1);
}




/* Album Info */
.album-info {
    flex: 1;
}



/* Album Name */
.album-title {
    font-size: 25px;
    font-weight: 700;
    color: #F7F7F7;
    margin-bottom: 5px;
	margin-top: -1px;
}


/* Artist */
.album-artist {
    font-size: 16px;
    color: #B3B3B3;
    margin-bottom: 3px;
    margin-top: 7px;
}


/* 43m 2s thingy */
.album-duration {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
	margin-top: 7px;
}




/* Album Buttons */
.album-buttons {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 10px 24px;
    border: 2px;
    background-color: #3a3a3a;
    color: #F7F7F7;
    font-size: 14px;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background-color:rgba(255, 111, 97, 0.9);
}



.btn-listen {
    flex: 1;
}

.btn-more {
    flex: 1;
}



/* Footer */
footer {
    background-color: #202020;
    color: #fff;
    padding: 60px 40px 30px;
    font-family: Arial, sans-serif;
}



.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1400px;
    margin: 0 auto;
    gap: 100px;
}

.footer-left {
    display: flex;
    gap: 80px; /* In relation to DR */
    align-items: flex-start;
}



.footer-right {
    display: flex;
    gap: 80px;
    align-items: flex-start;
    flex-wrap: wrap;
}


/* DR */
.footer-column h3 {
    color: #F7F7F7;
    font-size: 48px;
    letter-spacing: 1px;
    font-family: "Metal Mania", "Impact", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px 50px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Spacing between each line of text */
.footer-column ul li {
    margin-bottom: 15px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #ff6f61;
}



.phone {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #C9C9C9;
}

.email {
    color: #C9C9C9;
    text-decoration: underline;
    font-size: 14px;
    transition: color 0.3s ease;
    display: inline-block;
}

.email:hover {
    color: #77BCF3;
}




/* All Rights Reserved */
.footer-bottom {
    width: 100%;
    text-align: left;
    margin-top: 50px;
}

.footer-bottom p {
    color: #888;
    font-size: 14px;
    margin: 0;
}


/* Privacy Policy */
.footer-bottom a {
    color: #888;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.footer-bottom a:hover {
    color: #fff;
}